@model WebAtividadeEntrevista.Models.ClienteModel
@{
	ViewBag.Title = "Alterar Cliente";
}
@section scripts{
	@Scripts.Render("~/bundles/altClientes")
	<script>
        var urlPost = '@Url.Action("Alterar", "Cliente", new { area = "" })';
        var obj = @Html.Raw(Json.Encode(Model));
		var urlRetorno = '@Url.Action("Index", "Cliente", new { area = "" })';
		PreencherSelectEstado(obj.Estado);
		listarCidades(obj.Estado, obj.Cidade);
	</script>
}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")